In [12]:
import twython
from twython import Twython
import pandas as pd
import json
import numpy as np

from user_age import user_age
from is_geotagged import is_geotagged

pd.options.mode.chained_assignment = None  # default='warn'

keys = json.load(open("keys.json"))

CONSUMER_KEY = keys['consumer_key']                 # Type your CONSUMER_KEY
CONSUMER_SECRET = keys['consumer_secret']           # Type your CONSUMER_SECRET
OAUTH_TOKEN = keys['access_token']                 # Type your OAUTH_TOKEN
OAUTH_TOKEN_SECRET = keys['access_token_secret']   # Type your OAUTH_TOKEN_SECRET

twitter = Twython(CONSUMER_KEY, CONSUMER_SECRET, OAUTH_TOKEN, OAUTH_TOKEN_SECRET)

dataset = pd.read_csv('C:/dataset/2013_pakistan_eq.csv', header=0)

# Retrieving all tweet ids in order to use APIs to fetch all the informations we need on them

tweet_ids = dataset["tweet_id"]

# tweet_ids will be a Pandas.Series object
print(type(tweet_ids))

# Removing the apexes from each Tweet ID

for i in range(0, tweet_ids.size):
    tweet_ids[i] = tweet_ids[i].replace("'", "")

print("[DEBUG] Formatting tweets")

# Create a new DataFrame, initially containing just the IDs

# tweet_infos = pd.DataFrame(tweet_ids)

# List that will contain the new informations to add to the DataFrame tweet_infos

list_infos = []             # List that will contain the new informations

# Access to the informations of each tweet, retrieving them through Tweet ID
correctly_extracted = 0
not_available = 0
for id in tweet_ids:
    try:
        tweet = twitter.show_status(id=id)
        list_infos.append({"Username": tweet['user']['name'],
                           "TweetID": id, "Followers": tweet['user']['followers_count'],
                           "Followed": tweet['user']['friends_count'], "TwitterAge": user_age(tweet['user']['created_at']),
                           "TotalTweets": tweet['user']['statuses_count'], "Verified": tweet['user']['verified'],
                           "Geotagged": is_geotagged(tweet), "nHashtags": len(tweet['entities']['hashtags']), "nURLs": len(tweet['entities']['urls']),
                           "nMentions": len(tweet['entities']['user_mentions'])})
        correctly_extracted = correctly_extracted + 1
        print("[DEBUG] Found info for tweet: ", id, ". Added to list.")
    except twython.exceptions.TwythonRateLimitError as e:
        print(e)
        print("[DEBUG] Try again in some minutes, reached max number of tweets")
        print("[DEBUG] ", correctly_extracted, " tweets have been correctly extracted")
        print("[DEBUG] ", not_available, " tweets have encountered problems in being downloaded")
        break
    except twython.exceptions.TwythonError as e:
        print(e)    # If an exception occurs (APIs return an unexpected HTTP response code) we print it
        not_available = not_available + 1
        
meta_tweets = pd.DataFrame(list_infos)
meta_tweets = meta_tweets.set_index('TweetID')

#col_names = list(meta_tweets.columns.values)

#meta_tweets.to_csv(r'metatweets.csv', header=col_names, index=True, sep=',', mode='a')

<class 'pandas.core.series.Series'>
[DEBUG] Formatting tweets
Twitter API returned a 429 (Too Many Requests), Rate limit exceeded
[DEBUG] Try again in some minutes, reached max number of tweets
[DEBUG]  0  tweets have been correctly extracted
[DEBUG]  0  tweets have encountered problems in being downloaded

In [9]:
meta_tweets

,Followed,Followers,Geotagged,TotalTweets,TwitterAge,Username,Verified,nHashtags,nMentions,nURLs
TweetID,,,,,,,,,,
382813388503412736,524,497,True,4071,1990,Waqas Younas,False,3,2,0
382813391435206659,499,2531,True,18846,3028,Vajeesh Partab,False,2,2,0
382813401845485568,236,221,True,20800,1967,LISA EDENS,False,2,1,1
382813437513834497,4201,7628,True,179606,2162,"Hayat Alvi, PhD",False,2,3,1
382813444011204608,273,117,True,6615,2489,Faisal Mustafa,False,1,1,1
382813445495586816,332,520,True,20861,1780,Darwesh,False,2,1,0
382813466014121984,395,11875,True,24982,2674,Nafees Takar,False,2,2,0
382813467528282112,2105,1030,True,6635,3284,Virginia McMillan,False,2,1,1
382813501489946624,144,59,True,1268,1720,fouzia iftikhar,False,3,1,0
382813514881982464,37,1900,True,42940,1692,maria khan,False,2,0,1
382813518602313729,957,12253,True,57968,2945,Die-Hard Pakistani,False,3,1,0
382813530396700672,1386,1733,True,13072,3602,Joel Bassuk,False,1,2,0
382813532305096705,358,20854,True,26214,2988,farah lodhi khan,False,1,1,0
382813540366954497,10,20,True,35617,2201,Shakemaps M1 - M2,False,1,0,1
382813540413095936,10,20,True,35617,2201,Shakemaps M1 - M2,False,1,0,1
382813561875361792,4552,1159,True,21077,3095,John B. A. Kawecki,False,1,2,0
382813587410259968,984,28631,True,298794,2946,.,False,1,1,0
382813601024995328,780,5299,True,20940,2934,Furqan T. Siddiqui,False,4,1,0
382813620356534272,984,28631,True,298794,2946,.,False,3,2,0
382813652752928768,376,422,True,57393,3225,grs,False,2,1,0
382813700375474176,682,743,True,12344,3004,Adnan Kazmy,False,1,0,0
382813702132867072,2157,1473,True,94574,2979,Mr. A Kundi,False,3,2,1
382813719941484544,141,51,True,5474,2385,MS,False,2,1,0
382813733623300096,1246,432,True,9989,3166,Homosapien,False,1,0,1
382813761330888704,802,638,True,2867,1761,Yasir Hussain,False,3,0,1
382813788832940033,1940,5340,True,37283,3133,New Zealand Doctor,False,2,1,1
382813812040409089,63,198,True,6101,3339,Tamoor Zafar,False,4,0,1
382813829719019521,234,4037,True,21524,2711,S M Tabish Tariq,False,1,0,1
382813848006180864,240,142,True,5047,3206,Feel Good Inc,False,1,1,0
382813873679896576,231,522,True,4251,1728,Bahawal Tariq,False,2,0,0
...,...,...,...,...,...,...,...,...,...,...
382825690108026880,790,4553,True,22450,3268,Zahra Hidayatullah,False,2,0,0
382825697854496768,116,12655,True,4805,2440,Jinnah Institute,False,0,3,0
382825766683021312,680,3633,True,15548,2258,Chawash Baloch,False,3,1,0
382825780025516032,2354,671,True,14449,2037,Mohsin Dawood,False,4,2,0
382825784458489856,4,2654,True,67671,2383,Earth Alerts,False,1,0,1
382825785469308928,4,2654,True,67671,2383,Earth Alerts,False,1,0,1
382825786442387456,4,2654,True,67671,2383,Earth Alerts,False,1,0,1
382825813974204416,401,699,True,6149,2070,ruben dieckhoff,False,4,1,0
382825850346819585,777,1815,True,41791,2135,Saqib Ahmed Khanzada,False,2,1,0
382825894504443904,508,11264452,True,378331,2925,Times of India,True,1,0,1
382825898506203136,426,7411,True,12040,2538,Naseer Kakar,True,2,0,1
382825906336583680,680,3633,True,15548,2258,Chawash Baloch,False,5,0,0
382825926566109184,34,82,True,11000,2368,Mark Realmz,False,6,1,0
382825931930230785,2575,1348,True,5901,3304,Taqi Mehran,False,1,0,1
382825934111252481,322,615937,True,135161,2630,Dawn.com,True,5,0,1
382825934996262912,428,1174,True,55698,2309,Adeelxxx,False,4,0,0
382825979397570560,276,261,True,1903,2217,AircooledPK,False,4,0,1
382825980412170240,149,1065,True,703107,1997,Hillbilly Times,False,1,0,1
382825983273082880,93,4498,True,238997,2896,Zenub Babur Butt,False,3,1,1
382825988595650560,51,451,True,26623,2894,Shahid Zahoor,False,5,1,1
382825997885640704,445,801,True,12712,2780,Mahnoor,False,5,1,1
382825999798267904,2198,206522,True,106225,3615,Jim Roberts,True,1,0,1
382826003959017473,205,6701,True,91682,1886,Arsène Wenger,False,1,1,0
382826013954039808,835,692,True,56634,3026,Hasan Ahmed,False,2,1,0
382826035135266818,428,1174,True,55698,2309,Adeelxxx,False,2,0,0
382826047361662976,29,3,True,79,1929,Danish Ansari,False,4,1,1
382826047722364928,207,606,True,9429,1981,Palestine-Syria Jew,False,2,1,1
382826049907601409,200,2480,True,10217,3145,Altaf Ahmed,False,2,0,0
382826061513240576,2408,601,True,8389,3107,Muhammad Luqman,False,1,0,0
382826087194968064,1489,4452,True,343171,3127,Lʏɴᴅꜱᴀʏ Fᴀʀʟᴏᴡ,False,1,0,1

,Followed,Followers,Geotagged,TotalTweets,TwitterAge,Username,Verified,nHashtags,nMentions,nURLs
TweetID,,,,,,,,,,
382813388503412736,524,497,True,4071,1990,Waqas Younas,False,3,2,0
382813391435206659,499,2531,True,18846,3028,Vajeesh Partab,False,2,2,0
382813401845485568,236,221,True,20800,1967,LISA EDENS,False,2,1,1
382813437513834497,4201,7628,True,179606,2162,"Hayat Alvi, PhD",False,2,3,1
382813444011204608,273,117,True,6615,2489,Faisal Mustafa,False,1,1,1
382813445495586816,332,520,True,20861,1780,Darwesh,False,2,1,0
382813466014121984,395,11875,True,24982,2674,Nafees Takar,False,2,2,0
382813467528282112,2105,1030,True,6635,3284,Virginia McMillan,False,2,1,1
382813501489946624,144,59,True,1268,1720,fouzia iftikhar,False,3,1,0
382813514881982464,37,1900,True,42940,1692,maria khan,False,2,0,1
382813518602313729,957,12253,True,57968,2945,Die-Hard Pakistani,False,3,1,0
382813530396700672,1386,1733,True,13072,3602,Joel Bassuk,False,1,2,0
382813532305096705,358,20854,True,26214,2988,farah lodhi khan,False,1,1,0
382813540366954497,10,20,True,35617,2201,Shakemaps M1 - M2,False,1,0,1
382813540413095936,10,20,True,35617,2201,Shakemaps M1 - M2,False,1,0,1
382813561875361792,4552,1159,True,21077,3095,John B. A. Kawecki,False,1,2,0
382813587410259968,984,28631,True,298794,2946,.,False,1,1,0
382813601024995328,780,5299,True,20940,2934,Furqan T. Siddiqui,False,4,1,0
382813620356534272,984,28631,True,298794,2946,.,False,3,2,0
382813652752928768,376,422,True,57393,3225,grs,False,2,1,0
382813700375474176,682,743,True,12344,3004,Adnan Kazmy,False,1,0,0
382813702132867072,2157,1473,True,94574,2979,Mr. A Kundi,False,3,2,1
382813719941484544,141,51,True,5474,2385,MS,False,2,1,0
382813733623300096,1246,432,True,9989,3166,Homosapien,False,1,0,1
382813761330888704,802,638,True,2867,1761,Yasir Hussain,False,3,0,1
382813788832940033,1940,5340,True,37283,3133,New Zealand Doctor,False,2,1,1
382813812040409089,63,198,True,6101,3339,Tamoor Zafar,False,4,0,1
382813829719019521,234,4037,True,21524,2711,S M Tabish Tariq,False,1,0,1
382813848006180864,240,142,True,5047,3206,Feel Good Inc,False,1,1,0
382813873679896576,231,522,True,4251,1728,Bahawal Tariq,False,2,0,0
...,...,...,...,...,...,...,...,...,...,...
382825690108026880,790,4553,True,22450,3268,Zahra Hidayatullah,False,2,0,0
382825697854496768,116,12655,True,4805,2440,Jinnah Institute,False,0,3,0
382825766683021312,680,3633,True,15548,2258,Chawash Baloch,False,3,1,0
382825780025516032,2354,671,True,14449,2037,Mohsin Dawood,False,4,2,0
382825784458489856,4,2654,True,67671,2383,Earth Alerts,False,1,0,1
382825785469308928,4,2654,True,67671,2383,Earth Alerts,False,1,0,1
382825786442387456,4,2654,True,67671,2383,Earth Alerts,False,1,0,1
382825813974204416,401,699,True,6149,2070,ruben dieckhoff,False,4,1,0
382825850346819585,777,1815,True,41791,2135,Saqib Ahmed Khanzada,False,2,1,0
382825894504443904,508,11264452,True,378331,2925,Times of India,True,1,0,1
382825898506203136,426,7411,True,12040,2538,Naseer Kakar,True,2,0,1
382825906336583680,680,3633,True,15548,2258,Chawash Baloch,False,5,0,0
382825926566109184,34,82,True,11000,2368,Mark Realmz,False,6,1,0
382825931930230785,2575,1348,True,5901,3304,Taqi Mehran,False,1,0,1
382825934111252481,322,615937,True,135161,2630,Dawn.com,True,5,0,1
382825934996262912,428,1174,True,55698,2309,Adeelxxx,False,4,0,0
382825979397570560,276,261,True,1903,2217,AircooledPK,False,4,0,1
382825980412170240,149,1065,True,703107,1997,Hillbilly Times,False,1,0,1
382825983273082880,93,4498,True,238997,2896,Zenub Babur Butt,False,3,1,1
382825988595650560,51,451,True,26623,2894,Shahid Zahoor,False,5,1,1
382825997885640704,445,801,True,12712,2780,Mahnoor,False,5,1,1
382825999798267904,2198,206522,True,106225,3615,Jim Roberts,True,1,0,1
382826003959017473,205,6701,True,91682,1886,Arsène Wenger,False,1,1,0
382826013954039808,835,692,True,56634,3026,Hasan Ahmed,False,2,1,0
382826035135266818,428,1174,True,55698,2309,Adeelxxx,False,2,0,0
382826047361662976,29,3,True,79,1929,Danish Ansari,False,4,1,1
382826047722364928,207,606,True,9429,1981,Palestine-Syria Jew,False,2,1,1
382826049907601409,200,2480,True,10217,3145,Altaf Ahmed,False,2,0,0
382826061513240576,2408,601,True,8389,3107,Muhammad Luqman,False,1,0,0
382826087194968064,1489,4452,True,343171,3127,Lʏɴᴅꜱᴀʏ Fᴀʀʟᴏᴡ,False,1,0,1